@charset "utf-8";
@font-face {
  font-family: "Nanum";
  src: url(../../webfonts/NanumSquareRoundR.ttf),
    url(../../webfonts/NanumSquareRoundB.ttf);
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Montserrat", Arial, "Nanum", sans-serif;
  font-size: 1em;
  min-width: 800px;
}
header {
  width: 100%;
  height: 140px;
  background-color: #000;
  padding: 20px;
  position: relative;
  box-sizing: border-box;
  color: #fff;
}
.wrap {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
header p {
  color: #fff;
}
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -38px;
  margin-left: -120px;
}
.logo > p {
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 10px;
}
.logo .logo_img {
  width: 240px;
  height: 30px;
  background: url(../images/logo_white.png) no-repeat center;
}
.head_top,
.head_bot {
  display: flex;
  justify-content: space-between;
  width: 1280px;
}
.head_top > p {
  font-size: 13px;
  color: #e8ff50;
}
.selectbox {
  position: relative;
  width: 125px;
  border: none;
  z-index: 1;
  color: #fff;
}
.selectbox:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  width: 0;
  height: 0;
  margin-top: -1px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
}
.selectbox label {
  position: absolute;
  top: -3px;
  left: 2px;
  padding: 0.5em;
  color: #fff;
  z-index: -1;
}
.selectbox select {
  width: 100%;
  height: auto;
  line-height: normal;
  font-family: "Montserrat";
  padding: 0.5em;
  border: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.head_bot {
  position: absolute;
  bottom: 5px;
  font-size: 14px;
}
.head_right input {
  height: 25px;
  border: none;
  border-radius: 500px;
  padding: 0 10px;
  box-sizing: border-box;
}
.sns,
.head_right {
  display: flex;
}
.sns a,
.head_right a,
.head_right div label {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}
.head_right > div {
  display: flex;
}
.head_right > div > div {
  line-height: 50px;
}
.sns a i {
  color: #fff;
  font-size: large;
}
.fa-brands,
.material-symbols-rounded {
  margin: 0 auto;
  margin-bottom: 3px;
}
.material-symbols-rounded {
  margin-bottom: 7px;
}
.head_right span {
  height: 16px;
  color: #fff;
}

#menu {
  height: 65px;
  background: #fff;
}
#menu .wrap {
  display: flex;
  flex-direction: column;
}
#menu a {
  color: #fff;
}
.sub {
  position: absolute;
  z-index: 1;
  width: 100%;
  overflow: hidden;
  background-color: rgba(112, 79, 48, 0.7);
}
#menu .sub_wrap {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
#menu .gnb,
#menu .lnb {
  display: flex;
  justify-content: space-between;
}
#menu .gnb li,
#menu .lnb > li {
  /* float: left; */
  width: 12.5%;
  text-align: center;
}
#menu .gnb > li > a,
#menu .lnb li a {
  display: block;
  width: 100%;
}
#menu .gnb a {
  color: #525252;
}
#menu .lnb li a {
  display: block;
  font-size: 14px;
  line-height: 30px;
  /* padding: 5px 7px; */
  box-sizing: border-box;
}
#menu .gnb > li:hover > a,
#menu .gnb > li > a.on,
#menu .lnb li a:hover {
  color: #ff6d44;
  font-weight: bold;
}
#menu .gnb > li > a {
  line-height: 65px;
}
#main {
  width: 100%;
  height: 496px;
  background: linear-gradient(
    90deg,
    rgba(255, 109, 68, 0.2) 10.7%,
    rgba(255, 109, 68, 0) 47.21%
  );
  /* , #f1f1f1; */
}
#main .wrap {
  display: flex;
  justify-content: space-between;
  position: relative;
}
#main .text h1 {
  font-size: 30px;
}
#main .text h1:first-of-type {
  color: #2c5c28;
}
#main .text h1:nth-of-type(2) {
  color: #ff6d44;
}
#main .text h4 {
  font-size: 20px;
  line-height: 30px;
}
/* #main .mbutton {
  position: relative;
  box-sizing: border-box;
  width: 189px;
  height: 50px;
  background: #e0e0dd;
  border: 1px solid #000;
  border-radius: 34px;
  margin-top: 50px;
}
#main .mbutton a {
  position: absolute;
  color: #000;
  font-weight: 550;
  top: 13px;
  left: 30px;
}
#main .mbutton span {
  position: absolute;
  top: 13px;
  right: 30px;
} */
#main .more .mclick,
#main .more .mclick .mbutton {
  cursor: pointer;
  height: 50px;
  width: 189px;
}
#main .more .mbutton {
  position: absolute;
  top: -5px;
  left: -4.5px;
  background-image: url(../images/button.v.2.png);
}
#main .more .mclick {
  position: relative;
  top: 50px;
  background-image: url(../images/click.v.2.png);
}
#main .left {
  padding: 120px 0 0 120px;
}

#main #slider {
  /* position: relative; */
  width: 70%;
  height: 496px;
  /* overflow: hidden; */
}
#main #slider .bxslider {
  width: 100%;
  height: 496px;
}
#main #slider .bxslider > li {
  /* position: relative;*/
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* position: absolute; */
  /* display: flex;
  justify-content: space-between; */
}
#main #slider .bxslider li div:last-child {
  float: right;
}
#main .bxslider li .title {
  position: absolute;
  top: 50%;
  left: 8%;
  /* margin-top: 240px;
  margin-left: 50px; */
  text-align: right;
  color: #525252;
}
#main .bxslider li .title h2 {
  font-weight: 400;
  font-size: 18px;
}
#main .bxslider li .title h1 {
  font-size: 32px;
}
/* #main .btn li {
  position: absolute;
  right: 590px;
  bottom: 30px;
  border: 1px solid #525252;
  border-radius: 100px;
  cursor: pointer;
  width: 22px;
  height: 22px;
}
#main .btn li:first-of-type {
  right: 640px;
}
#main .btn li span {
  font-size: 22px;
  width: 19px;
  height: 19px;
  margin: 0;
  color: #525252;
} */

#advertise {
  width: 100%;
}
.bannerbox {
  width: 100%;
  height: 180px;
  margin: 80px 0 30px;
  /* overflow: hidden;
  animation: banner 30s linear infinite;
  white-space: nowrap; */
}
.banner {
  width: 100%;
  height: 100%;
  /* display: flex;
  flex-wrap: nowrap; */
}
.banner li {
  width: 100%;
  height: 100%;
  margin: 0 15px;
}

.wrap02 {
  box-sizing: border-box;
  width: 1132px;
  margin: 0 auto;
  color: #525252;
}
#best,
#new {
  padding: 50px 0;
}
#best .title h1,
#best .title p,
#new .title h1,
#new .title p {
  display: inline-block;
}
#best .title h1 {
  font-size: 40px;
  color: #ff6d44;
  text-shadow: -2.5px -2px #484848;
  margin: 0 20px;
  cursor: pointer;
}
#new .title h1 {
  font-size: 40px;
  color: #cee248;
  text-shadow: -2.5px -2px #484848;
  margin: 0 20px;
  cursor: pointer;
}
#best .title p,
#new .title p {
  font-size: 20px;
}
#best .content,
#new .content {
  margin-top: 10px;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  border-top: 1.7px solid #ff6d44;
  border-bottom: 1.7px solid #ff6d44;
  padding: 15px 0;
}
#new .content {
  margin-top: 10px;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  border-top: 1.7px solid #9ead37;
  border-bottom: 1.7px solid #9ead37;
  padding: 15px 0;
}
#best .content > li,
#new .content > li {
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
}
#best .content > li:not(#best .content > li:last-of-type),
#new .content > li:not(#new .content > li:last-of-type) {
  margin-right: 55px;
}
#best .content li .bg,
#new .content li .bg {
  width: 183px;
  height: 275px;
  background-size: 100%;
  background-position: center;
  transition: 0.5s;
  overflow: hidden;
}
#best .content li .bg.on,
#new .content li .bg.on {
  width: 183px;
  height: 275px;
  background-size: 113%;
  overflow: hidden;
}
#best .content li .bg1 {
  background-image: url(../images/best_bg1.png);
}
#best .content li .bg2 {
  background-image: url(../images/best_bg2.jpg);
}
#best .content li .bg3 {
  background-image: url(../images/best_bg3.jpg);
}
#best .content li .bg4 {
  background-image: url(../images/best_bg4.jpg);
}
#best .content li .bg5 {
  background-image: url(../images/best_bg5.jpg);
}
#best .content li .lank {
  margin-left: 5px;
  font-weight: 800;
  font-size: 23px;
  color: #ff6d44;
}
#best .content li p:first-of-type {
  position: absolute;
  right: 0;
  top: 0;
  color: #525252;
  font-size: 14px;
}
#new .content li p:first-of-type {
  padding-bottom: 11px;
  float: right;
  font-size: 14px;
}
#best .content li p:last-of-type,
#new .content li p:last-of-type {
  text-align: right;
  padding: 13px 0 5px;
}
#best .content li p:last-of-type strong,
#new .content li p:last-of-type strong {
  font-size: 18px;
}
#new .content li .bg1 {
  background-image: url(../images/new1.jpg);
}
#new .content li .bg2 {
  background-image: url(../images/new2.jpg);
}
#new .content li .bg3 {
  background-image: url(../images/new3.jpg);
}
#new .content li .bg4 {
  background-image: url(../images/new4.jpg);
}
#new .content li .bg5 {
  background-image: url(../images/new5.jpg);
}
#review {
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
}
#review .left,
#review .right {
  float: left;
  height: 290px;
  width: 440px;
  box-sizing: border-box;
}
#review article {
  float: left;
  height: 140px;
  width: 140px;
}
#review article.txt {
  width: 290px;
  padding: 15px;
  box-sizing: border-box;
}
#review article.txt p {
  font-size: 30px;
  color: #484848;
}
#review article.txt p span {
  color: #ff6d44;
}
#review article.txt p em {
  color: #ff6d44;
  font-size: 18px;
}
#review .bg {
  height: 140px;
  width: 140px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background-size: 100%;
  transition: all 0.5s;
}
#review .bg1 {
  background-image: url(../images/review_bg1.png);
  margin-left: 10px;
}
#review .bg2 {
  background-image: url(../images/review_bg2.png);
  margin-right: 10px;
  margin-top: 10px;
}
#review .bg3 {
  background-image: url(../images/review_bg3.png);
  margin-right: 10px;
  margin-top: 10px;
}
#review .bg4 {
  background-image: url(../images/review_bg4.png);
  margin-top: 10px;
}
#review .bg5 {
  background-image: url(../images/review_bg5.png);
  margin-right: 10px;
  margin-bottom: 10px;
}
#review .bg6 {
  background-image: url(../images/review_bg6.png);
  margin-right: 10px;
  margin-bottom: 10px;
}
#review .bg7 {
  background-image: url(../images/review_bg7.png);
  margin-bottom: 10px;
}
#review .bg8 {
  background-image: url(../images/review_bg8.png);
  margin-right: 10px;
}
#review .insta {
  cursor: pointer;
  height: 289px;
  width: 220px;
  background-image: url(../images/instagram.png);
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  padding: 0;
  border-radius: 7px;
}
#review .insta .hover {
  opacity: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  transition: all 0.5s;
}
#review .insta .hover p {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #ff6d44;
  margin: auto auto;
}
#review .insta .hover:hover {
  opacity: 1;
}
#review .bg p {
  opacity: 0;
  font-size: 12px;
  width: 55%;
  height: auto;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 7%;
  left: 20%;
  transform: translate(-20%);
  padding: 7px;
  border-radius: 7px;
  transition: all 0.5s;
}
#review .bg:hover {
  background-size: 110%;
}
#review .bg:hover p {
  opacity: 1;
}
#review .right .txt {
  text-align: right;
}
#brand {
  width: 100%;
  height: 570px;
  background: #000;
  margin-top: 120px;
  color: #fff;
  font-size: 20px;
  overflow: hidden;
}
#brand .wrap {
  display: flex;
  justify-content: space-between;
}
#brand .left {
  margin: 70px 0 0 50px;
}
#brand .left div:first-of-type {
  font-weight: 700;
  letter-spacing: 0.075em;
}
.ani {
  cursor: pointer;
}
.ani:hover p {
  color: #ff6d44;
}
.ani p {
  display: inline-block;
}
.ani p:last-of-type {
  font-size: 30px;
}
#brand .left .second {
  margin-top: 80px;
  line-height: 29px;
}
#brand .left .second .logo_b {
  margin-top: 15px;
  width: 237px;
  height: 29px;
  cursor: pointer;
  background: url(../images/logo_white.png);
  background-size: contain;
}
#brand .right > li {
  position: relative;
}
#brand .right li .txt {
  line-height: 144.9%;
  position: absolute;
  bottom: 15%;
  left: -35%;
}
#brand .right .bg {
  height: 570px;
  width: 911px;
  background-image: url(../images/brand_bg1.png);
  background-size: contain;
}
footer {
  width: 100%;
  height: 300px;
  background: #000;
}
footer .wrap {
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: #fff;
  font-size: 14px;
  box-sizing: border-box;
}
footer .left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .left .callcenter p {
  float: left;
  margin-left: 20px;
}
footer .left .callcenter p:not(footer .left .callcenter p:last-of-type) {
  font-size: 14px;
  font-weight: bold;
}
footer .left .callcenter p:not(footer .left .callcenter p:first-of-type) {
  padding-top: 7px;
}
footer .left .callcenter p:first-of-type {
  height: 30px;
  width: 70px;
  border: 1px solid #fff;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
footer .left .footerbtn {
  margin-bottom: 20px;
}
footer .left .footerbtn > li {
  float: left;
  margin-right: 50px;
}
footer .left .footerbtn > li:last-of-type {
  margin-right: 0;
}
footer .left .footerbtn > li ul {
  margin-top: 10px;
  border-left: 1px solid rgb(209, 209, 209);
}
footer .left .footerbtn > li ul li a {
  font-size: 12px;
  display: block;
  color: #fff;
  padding: 5px 15px;
}
footer .right p {
  font-size: 12px;
  line-height: 183.9%;
}
